*{
    margin: 0px;
    padding: 0px;
}
.body{
    background-color: black;
    border: 2px solid green;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.calc{
    background-color: rgb(22, 22, 22);
    width: 25%;
    padding: 1%;
    height: 60%;
    text-align: center;
    border: 1px solid rgb(102, 100, 100);
}
.display{
    height: 20%;
}
.display > #screen{
    width: 98%;
    height: 60%;
    background-color: rgb(22, 22, 22);
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    font-size: xx-large;
    border: none;
}
.display #result{
    width: 98%;
    height: 40%;
    background-color: rgb(22, 22, 22);
    color: rgb(73, 72, 72);
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    font-size: large;
    border: none;
    pointer-events: none;
}

.screen {
  position: relative;
  margin-top: 20px;
}
.calc > .keys{
    height: 80%;
    border-top: 1px solid rgb(41, 41, 41);
}
button{
    float: left;
    background-color: black;
    color: azure;
    font-style: oblique;
    text-align: center;
    width: 25%;
    border: 0px;
    padding: 5%;
    font-size: larger;
    border-radius: 50%;
}
#op{
    color: #11a111;
    font-size: xx-large;
}
#clear{
    color: rgb(219, 57, 29);
}
#equals_to{
    background-color: #11a111;
    color: black;
    font-size: x-large;
}
.keys #row1,
.keys #row2,
.keys #row3,
.keys #row4,
.keys #row5{
    height: 20%;
    width: 100%;
}
/* #row1 button,
#row2 button,
#row3 button,
#row4 button,
#row5 button {
    height: auto;
    width: 25%;
} */
#row1{
    display: flex;
    justify-content: center;
    align-items: center;
} 
#row2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 25%;
} 
#row3{
    display: flex;
    justify-content: center;
    align-items: center;
} 
#row4{
    display: flex;
    justify-content: center;
    align-items: center;
}
#row5{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bt1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 25%;
}
.bt2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 25%;
}
.bt3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 25%;
}
.bt4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 25%;
}
.bt5{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 25%;
}
.bt1 > button{
    height: 95%;
    width: 80%;
}
.bt2 > button{
    height: 95%;
    width: 80%;
}
.bt3 > button{
    height: 95%;
    width: 80%;
}
.bt4 > button{
    height: 95%;
    width: 80%;
}
.bt5 > button{
    height: 95%;
    width: 80%;
}